<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Details<b class="caret"> </b></a>
    <ul class="dropdown-menu">
        <li><a href="StructureDefinition-kiola-care-plan.html">KIOLA Care Plan</a></li>
        <li><a href="StructureDefinition-kiola-standard-treatment-plan.html">KIOLA Standard Treatment Plan</a></li>
        <li><a href="StructureDefinition-kiola-measurement-definition.html">KIOLA Measurement Definition</a></li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifacts Summary</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
</ul>
